service: cap-xml

# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs12.x
  role: ${env:SLS_LAMBA_ROLE}
  stage: ${env:TARGET_ENV_NAME}
  region: ${env:TARGET_REGION}
  deploymentBucket:
    name: ${env:SLS_BUCKET}
  vpc:
    securityGroupIds:
      - ${env:SLS_VPN_SECURITY_GROUP}
    subnetIds:
      - ${env:SLS_SUBNET_1}
      - ${env:SLS_SUBNET_2}
package:
 exclude:
   - test
functions:
  processMessage:
    handler: lib/functions/processMessage.processMessage
    timeout: 30
  getMessagesAtom:
    handler: lib/functions/getMessagesAtom.getMessagesAtom
    timeout: 60
  getMessage:
    handler: lib/functions/getMessage.getMessage
    timeout: 12
  archiveMessages:
    handler: lib/functions/archiveMessages.archiveMessages
    timeout: 240